$primary: #000000;
$secondary: #ffffff; // USE AS BACKGROUND COLOR

//NEUTRAL COLOURS
$neutral-1200: #191B24;
$neutral-1150: #232530;
$neutral-1100: #30343F;
$neutral-1050: #424755;
$neutral-1000: #555669;
$neutral-900: #71738F;
$neutral-800: #8A8CA6;
$neutral-700: #A7A9C0;
$neutral-600: #C1C3DA;
$neutral-500: #9C9C9C;
$neutral-400: #C0C0C0;
$neutral-300: #D5D5D6;
$neutral-200: #EBEBEF;
$neutral-100: #FAFAFF;